{% load staticfiles %}
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="/">
     <img src="{% static 'images/logo.png'%}" width= 25% height=25% ></a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li>
          <a class="btn" href="http://creafity.com/atolye/ince-bir-fikir/" target="_blank">Mağazaya git!</a></li>
          <li><a href="https://www.instagram.com/incebirfikir/" target="_blank">instagram.com/incebirfikir</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
</section>
<!-- header top section --> 
<!-- header content section -->
