{% extends "base.html" %}

{% block content %}

{% include "header.html"%}
{% load staticfiles %}
<section id="hero" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 hero">
        <div class="hero-content">
          <h2>paketleme kağıtları ve ipler</h2>
        </div>
        <!-- hero --> 
      </div>
      <div class="col-md-5 col-sm-6 hero">
        <div class="hero-content">
          <p>Hediyelerinizi paketlerken hayalgücünüzü kullanın ve kendinizden bir şeyler katın.</p>
        </div>
        <!-- hero --> 
      </div>
    </div>
  </div>
</section>
<!-- portfolio grid section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="section">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
          <h2>KRAFT KAĞIT</h2>
           <h3>Fiyat 2₺</h3>
           <h4>50x70cm</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/kraft.jpg'%}" class="img-responsive" alt=""> </a> </div>
     <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
          <h2>SİYAH KAĞIT</h2>
           <h3>Fiyat 2₺</h3>
            <h4>50x70cm</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/siyah.jpg'%}" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
          <h2>BEYAZ KAĞIT</h2>
           <h3>Fiyat 2₺</h3>
            <h4>50x70cm</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/beyaz.jpg'%}" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
          <h2>VINTAGE GAZETE</h2>
           <h3>Fiyat 4₺</h3>
            <h4>50x65cm</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/gazete.jpg'%}" class="img-responsive" alt=""> </a> </div>
        <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
          <h2>SİYAH-KRAFT</h2>
           <h3>Fiyat 1,5₺</h3>
            <h4>2m</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/siyahkraft.jpg'%}" class="img-responsive" alt=""> </a> </div>
     <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
          <h2>JÜT İP</h2>
           <h3>Fiyat 1₺</h3>
            <h4>5m</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/jutip.jpg'%}" class="img-responsive" alt=""> </a> </div>
         <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
          <h2>KIRMIZI-BEYAZ İP</h2>
           <h3>Fiyat 0,5₺</h3>
            <h4>2m</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/kirmizibeyaz2.jpg'%}" class="img-responsive" alt=""> </a> </div>
       <div class="col-sm-6 portfolio-item"> <a  class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h2>GRİ-BEYAZ İP</h2>
           <h3>Fiyat 1,5₺</h3>
            <h4>2m</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/gribeyaz2.jpg'%}" class="img-responsive" alt=""> </a> </div>
       <div class="col-sm-6 portfolio-item"> <a  class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h2>HARDAL-BEYAZ İP</h2>
           <h3>Fiyat 1,5₺</h3>
            <h4>2m</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/hardalbeyaz.jpg'%}" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a  class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h2>BORDO-BEYAZ İP</h2>
           <h3>Fiyat 1,5₺</h3>
            <h4>2m</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/bordobeyaz.jpg'%}" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a  class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h2>SİYAH-BEYAZ İP</h2>
           <h3>Fiyat 1,5₺</h3>
            <h4>2m</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/siyahbeyaz.jpg'%}" class="img-responsive" alt=""> </a> </div>
      <div class="col-sm-6 portfolio-item"> <a  class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h2>LACİVERT-BEYAZ İP</h2>
           <h3>Fiyat 1,5₺</h3>
           <h4>2m</h4>
          </div>
        </div>
        <img src="{% static 'images/kagitip/lacibeyaz.jpg'%}" class="img-responsive" alt=""> </a> </div>
     </div>
   </div>
</section>
<!-- portfolio grid section --> 
<!-- service section -->
<section id="service" class="service section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h4>Hediye paketlerinizi güzelleştirecek keselerimiz var.</h4>
        <p>Yiyeceklerinizi yanınızda taşımak için ya da yaptığınız kurabiyeleri, poğaçaları sevdiklerinize hediye ederken kullanabileceğiniz gıdaya uyumlu tekrar tekrar kullanılabilir keseler sunuyoruz. İsterseniz uygun boyuttaki hediyelerinizi de kolayca paketleyebilirsiniz.</p>
      </div>
      <div class="col-md-7 col-sm-6">
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-gift"></span>
          <div class="service-content">
            <h5>KOLAY HEDİYE PAKETLEME</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-basket"></span>
          <div class="service-content">
            <h5>GIDAYA UYGUN</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-envelope"></span>
          <div class="service-content">
            <h5>BENZERSİZ TASARIMLAR</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "footer.html"%}

{% endblock %}

