{% extends "base.html" %}

{% block content %}

{% include "header.html"%}
{% load staticfiles %}
<section id="hero" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 hero">
        <div class="hero-content">
          <h2>kendin yap videoları</h2>
        </div>
        <!-- hero --> 
      </div>
      <div class="col-md-5 col-sm-6 hero">
        <div class="hero-content">
          <p>Hediyelerinizi şık ve doğru şekilde paketlemek isterseniz sizin için birbirinden farklı videolar çektik. Videolarda kullanılan tüm ürünlerine bizimle iletişime geçerek sahip olabilirsiniz.</p>
        </div>
        <!-- hero --> 
      </div>
    </div>
  </div>
</section>
<!-- portfolio grid section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="section">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
      
        <video width="80%" controls controlsList="nodownload">
            <source src="{% static 'videos/kese.mp4'%}"" type="video/mp4">
            </video>
          </a>
        </div>
      <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
        <video width="80%" controls controlsList="nodownload">
            <source src="{% static 'videos/yuvarlak.mp4'%}"" type="video/mp4">
            </video>
              </a>
        </div>
      <div class="col-sm-6 portfolio-item"> <a class="portfolio-link">
       
         <video width="80%" controls controlsList="nodownload">
            <source src="{% static 'videos/yilbasi.mp4'%}"" type="video/mp4">
            </video>
              </a>
        </div>
      <div class="col-sm-6 portfolio-item">  <a class="portfolio-link">
   
       <video width="80%" controls controlsList="nodownload">
            <source src="{% static 'videos/fiyonk.mp4'%}"" type="video/mp4">
            </video>
              </a>
        </div>
    </div>
     <div class="col-sm-6 portfolio-item"> <a  class="portfolio-link">
 <video width="80%"  controls controlsList="nodownload">
            <source src="{% static 'videos/ucgen.mp4'%}"" type="video/mp4">
            </video>
              </a>
        </div>
    </div>
  </div>
</section>
<!-- portfolio grid section --> 
<!-- service section -->
<section id="service" class="service section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h4>Eğlenceli #diy videoları çekiyoruz.</h4>
        <p>Set halinde alabileceğiniz malzemelerle farklı formlardaki hediyelerinizi kolayca paketlemeniz için eğlenceli fikirlerimiz var.</p>
      </div>
      <div class="col-md-7 col-sm-6">
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-tools"></span>
          <div class="service-content">
            <h5>TAM ÖLÇÜ</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-video"></span>
          <div class="service-content">
            <h5>İZLEMESİ EĞLENCELİ</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-scissors"></span>
          <div class="service-content">
            <h5>PRATİK YÖNTEMLER</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "footer.html"%}

{% endblock %}

